.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.Navigation {
 background: red;
 height: 100px;
 padding: 20px;
  margin: 10px;
  display: block;
}
.NavLink{
  width: 80px;
  height: 30px;
  display: block;
}
.productGrid {
  background: blue;
}